body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}
h1 {
    color: black;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
}
h2 {
    color: #2c3e50;
    margin-top: 30px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

.profile-img{
    width: 180px;
    height: 180px;
    
    display: block;
    padding: 20px;
    position: relative;

    object-fit: cover;
    object-position: 10% 50%;
    /*border: 3px solid red; shows the crop box*/
    float: right;
    border-radius: 50%;
    top: -150px;
    
}